.project_list {
  line-height: 35px;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  margin-bottom: 1em;
  width: 19.591141396933562vw;
  height: 9.420289855072463vh;
}
